body {
	padding: 20px;
}

/* Header */
header {
	font-size: 22px;
	font-weight: bold;
	padding: 10px 20px 15px 15px;
	background: #DEDEFF;
	box-shadow: 0 0 5px #000000;
	border-top: 1px solid #FFFFFF;
	border-radius: 10px 10px 0 0;
}

header::after {
	display: block;
	content: "";
	position: absolute;
	height: 10px;
	left: -20px;
	right: 15px;
	height: 34px;
	box-shadow: inset 0 -75px 15px -50px #FFFFFF;
	margin: -5px 0 0 0;
	z-index: 0;
}

/* Content */
section {
	position: absolute;
	top: 85px;
	left: 18px;
	right: 18px;
	bottom: 55px;
	overflow-x: hidden;
	overflow-y: scroll;
}

section nav {
	text-align: center;
	position: absolute;
	left: 30px;
	right: 30px;
	margin: 5px 0 0 0;
	border-bottom: 1px solid #FFFFFF;
	box-shadow: inset -7px -11px 5px -11px #000000;
	line-height: 10px;
}

section nav a {
	cursor: pointer;
	display: inline-block;
	background: #E3E3FF;
	text-decoration: none;
	color: #0000FF;
	font-weight: bold;
	padding: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-radius: 9px 9px 0 0;
	margin: 0 0 -1px 0;
	font-size: 12px;
	box-shadow: inset 0px -11px 9px -6px rgba(0, 0, 0, 0.165), 0px -2px 5px -1px #000000;
	border-bottom: 1px solid #FFFFFF;
}

section nav a.active {
	color: #000000;
	box-shadow: 0px -2px 5px -1px #000000;
	border-bottom: 1px solid #DEDEFF;
}

section article {
	display: none;
	padding: 30px 15px 15px 15px;
	margin: 20px 5px 20px 5px;
	background: #DEDEFF;
	box-shadow: 0 0 5px #000000;
	border-top: 1px solid #FFFFFF;
	border-radius: 10px 10px 0 0;
}

section article::after {
	display: block;
	content: "";
	position: absolute;
	height: 10px;
	left: -20px;
	right: 0;
	height: 34px;
	box-shadow: inset 0 -75px 15px -50px #FFFFFF;
	margin: -5px 0 0 0;
	z-index: 0;
}

section article ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

section article ul li {
	background: url('../assets/bullet.png') no-repeat 0 50%;
	padding: 0 0 0 15px;
}

section article ul li a {
	color: #0000FF;
	text-decoration: none;
	cursor: pointer;
}

section article ul li a:hover {
	color: #FF0000;
	text-decoration: underline;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: -200%;
}

/*section input:checked + article[data-tab] {*/
section input:checked + article {
    display:block;
}


/* Footer */
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -30px;
	height: 100px;
}

footer p {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	padding: 0 0 70px 0;
	text-align: center;
}

footer p span.hide {
	visibility: hidden;
}

footer p span {
	font-weight: bold;
	font-size: 20px;
	color: #0000FF;
	cursor: pointer;
}

footer p button {
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
	font-size: 13px;
	font-weight: bold;
	background: #B1BDEF;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;
	cursor: pointer;
	text-decoration: none;
	background: #BAC2FC;
}

footer p button:active {
	background:				#2547B2;
}

footer p button {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KCTxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4NCgkJPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxYmVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+DQoJCTxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNmU4NGRiIiBzdG9wLW9wYWNpdHk9IjEiLz4NCgkJPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiMyNTQ3YjIiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCQk8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTQ3YjIiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg==');
	background: -moz-linear-gradient(top, #b1bef6 0%, #6e84db 50%, #2547b2 51%, #2547b2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1bef6), color-stop(50%,#6e84db), color-stop(51%,#2547b2), color-stop(100%,#2547b2));
	background: -webkit-linear-gradient(top, #b1bef6 0%,#6e84db 50%,#2547b2 51%,#2547b2 100%);
	background: -o-linear-gradient(top, #b1bef6 0%,#6e84db 50%,#2547b2 51%,#2547b2 100%);
	background: -ms-linear-gradient(top, #b1bef6 0%,#6e84db 50%,#2547b2 51%,#2547b2 100%);
	background: linear-gradient(to bottom, #b1bef6 0%,#6e84db 50%,#2547b2 51%,#2547b2 100%);
}

footer p button:hover {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KCTxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4NCgkJPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhYzJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+DQoJCTxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOGU5OWVjIiBzdG9wLW9wYWNpdHk9IjEiLz4NCgkJPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM0MDRmYzIiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCQk8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDRmYzIiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg==');
	background: -moz-linear-gradient(top, #bac2fc 0%, #8e99ec 50%, #404fc2 51%, #404fc2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bac2fc), color-stop(50%,#8e99ec), color-stop(51%,#404fc2), color-stop(100%,#404fc2));
	background: -webkit-linear-gradient(top, #bac2fc 0%,#8e99ec 50%,#404fc2 51%,#404fc2 100%);
	background: -o-linear-gradient(top, #bac2fc 0%,#8e99ec 50%,#404fc2 51%,#404fc2 100%);
	background: -ms-linear-gradient(top, #bac2fc 0%,#8e99ec 50%,#404fc2 51%,#404fc2 100%);
	background: linear-gradient(to bottom, #bac2fc 0%,#8e99ec 50%,#404fc2 51%,#404fc2 100%);
}

footer p button:active {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KCTxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4NCgkJPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NDdiMiIgc3RvcC1vcGFjaXR5PSIxIi8+DQoJCTxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMjU0N2IyIiBzdG9wLW9wYWNpdHk9IjEiLz4NCgkJPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2ZTg0ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCQk8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMWJlZjYiIHN0b3Atb3BhY2l0eT0iMSIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg==');
	background: -moz-linear-gradient(top, #2547b2 0%, #2547b2 49%, #6e84db 50%, #b1bef6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2547b2), color-stop(49%,#2547b2), color-stop(50%,#6e84db), color-stop(100%,#b1bef6));
	background: -webkit-linear-gradient(top, #2547b2 0%,#2547b2 49%,#6e84db 50%,#b1bef6 100%);
	background: -o-linear-gradient(top, #2547b2 0%,#2547b2 49%,#6e84db 50%,#b1bef6 100%);
	background: -ms-linear-gradient(top, #2547b2 0%,#2547b2 49%,#6e84db 50%,#b1bef6 100%);
	background: linear-gradient(to bottom, #2547b2 0%,#2547b2 49%,#6e84db 50%,#b1bef6 100%);
}

/* Body *
section {
	position: relative;
	height: 100%;
	padding: 0 0 75px 0;
	background: #DEDEFF;
	box-shadow: 0 0 5px #000000;
	border-top: 1px solid #FFFFFF;
	border-radius: 10px 10px 0 0;
	z-index: 1;
}

section header {
	text-align: center;
	font-weight: bold;
	margin: 5px 20px 0 20px;
	padding: 5px;
	border-bottom: 1px solid #B2B2CC;
}

section article {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

section article table {
	width: 100%;
	padding: 5px 20px 0 20px;
}

section article table .left {
	text-align: left;
}

section article table .middle {
	text-align: center;
}

section article table .right {
	text-align: right;
}

section article table strong a[data-action="nickname"] {
	color: #0000FF;
}

section article table a[data-action="nickname"]:hover {
	color: #FF0000;
	text-decoration: underline;
	cursor: pointer;
}

*/